/target
*.txt
.vscode/
/interner_data
/fold_state
fold_history 
charts 
.mplcache 
.cache 
.DS_Store 

# Added by cargo
#
# already existing elements were commented out

#/target
data/interner_export/
data/ortho_exports/
